@model IEnumerable<F2019Movies.Models.Movie>

@{
    ViewData["Title"] = "Movie Listings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movie Listings</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Poster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Studio Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Revenue)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/img/@Html.DisplayFor(modelItem => item.Poster)" height="75" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Studio.Name)
            </td>
            <td>
                @String.Format("{0:c}", item.Revenue)
            </td>

        </tr>
}
    </tbody>
</table>
